# Problem set 02

# Question 01

In [1]:
a = 0
def b():
    print("func_b starts")
    global a
    a = c(a)
    
def c(a):
    print("func_c strats")
    return a + 2

b()
b()
b()
a

func_b starts
func_c strats
func_b starts
func_c strats
func_b starts
func_c strats

6

In [2]:
a = 0                          # defining the a=0 outside the function, so it is a global variable 
def b():  #defining a function called b()
    print("func_b starts")
    global a       # declare that a is a global veriable and referred to the a=o defined at the begining of the code
    a = c(a)  # calls the c(a) function and return and assign the value to the global variable 
    print("func_c strats")
def c(a):
    return a + 2 # function c(a) add 2 to the global veriable and return value
b()
b()
b()
#when function b called first time, it calls function c(a) which add 2 to the global veriable a, so 0+2 = 2, and assign the value to "a"
#when b() is called second time, it again calls c(a) and 2 to the golbal veriable a, which equal to 2 now. so 2+2 = 4.
#when b() is called third time, it again calls c(a) and 2 to the global veriable a, which equal to 4 now. so 4+2=6.
#Therefore, at the end, value of a is 6.
a

func_b starts
func_c strats
func_b starts
func_c strats
func_b starts
func_c strats

6

# Question 02

In [3]:
def fileLength(filename):
    try:
        infile = open(filename)
        content = infile.read()
        length = len(content)
        infile.close()
        return length
    except FileNotFoundError:
        print(f"File {filename} not found.")
        
        
print(fileLength('midterm.py'))
fileLength('idterm.py')

123
File idterm.py not found.

# Question 03

In [4]:
class Marsupial:
    def __init__(self):
        self.pouch = []
        
    
    def put_in_pouch(self, item):
        self.item =item
        self.pouch.append(self.item)
        
    def pouch_content(self):
        return self.pouch 
    
m = Marsupial()
m.put_in_pouch("doll")
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print (m.pouch_content())

class Kangaroo(Marsupial):
    def __init__(self,x, y):
        super().__init__()
        self.x=x
        self.y=y
        
       
    def jump(self, dx, dy):
        self.x += dx
        self.y += dy
        return self.x, self.y
    
    def __str__(self):
        return f"I am a Kangaroo located at coordinates {self.x},{self.y} "
        
    
k= Kangaroo(0,0)
print (k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_content())
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates 0,0
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates 3,0

# Question 4

In [5]:
def collatz(x):
    print(x)
    if x == 1:
        return x
    elif x % 2 == 0:
        collatz(x//2)  
    else:
        collatz(3*x + 1)
        
collatz(10)
collatz(1)

10
5
16
8
4
2
1
1

1

# Question 05

In [6]:
def binary(n):
    n = abs(n)  # Calculate the absolute value of n
    if n == 0:
        return '0'
    elif n == 1:
        return '1'
    else:
        return binary(n // 2) + str(n % 2)

print(binary(0))
print(binary(1))
print(binary(3))
print(binary(9))

print(binary(-1))
print(binary(-3))
print(binary(-9))

0
1
11
1001
1
11
1001

# Question 08

In [12]:
import sqlite3
con = sqlite3.connect('country.sqldb')
cur = con.cursor()
cur.execute('''CREATE TABLE weather (city text, country text, season text, temperature real, rainfall real)''')
data_values = [
                ('Mumbai','India','Winter','24.8','5.9'),
                ('Mumbai','India','Spring','28.4','16.2'),
                ('Mumbai', 'India', 'Summer','27.9','1549.4'),
                ('Mumbai','India','Fall','27.6','346.0'),
                ('London','United Kingdom','Winter','4.2','207.7'),
                ('London','United Kingdom','Spring','8.3','169.6'),
                ('London', 'United Kingdom', 'Summer','15.7','157.0'),
                ('London','United Kingdom','Fall','10.4','218.5'),
                ('Cairo','Egypt','Winter','30.6','16.5'),
                ('Cairo','Egypt','Spring','20.7','6.5'),
                ('Cairo', 'Egypt', 'Summer','27.7','0.1'),
                ('Cairo','Egypt','Fall','22.2','4.5'),
                ]
cur.executemany("INSERT INTO weather VALUES (?,?,?,?,?)", data_values )

In [13]:
cur.execute('SELECT temperature FROM weather')
temp_data= cur.fetchall()

for temp in temp_data:
    print(temp)

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(30.6,)
(20.7,)
(27.7,)
(22.2,)

In [14]:
# All the temperature data.
cur.execute('SELECT * FROM weather')

items= cur.fetchall()

for item in items:
    print(item)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 30.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [15]:
# All the cities, but without repetition.

cur.execute('SELECT DISTINCT city FROM weather')
cities = cur.fetchall()


for city in cities:
    print(city)

('Mumbai',)
('London',)
('Cairo',)

In [16]:
# All the records for India.

cur.execute('SELECT * FROM weather WHERE country = "India"')
india_records = cur.fetchall()


for record in india_records:
    print(record)

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [17]:
# All the Fall records
cur.execute('SELECT * FROM weather WHERE season = "Fall"')
fall_records = cur.fetchall()


for record in fall_records:
    print(record)

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [18]:
#The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

cur.execute('''SELECT city, country, season
                  FROM weather
                  GROUP BY city, country, season
                  HAVING AVG(rainfall) BETWEEN 200 AND 400''')
result = cur.fetchall()


for row in result:
    print(f"City: {row[0]}, Country: {row[1]}, Season: {row[2]}")

City: London, Country: United Kingdom, Season: Fall
City: London, Country: United Kingdom, Season: Winter
City: Mumbai, Country: India, Season: Fall

In [19]:
#The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

cur.execute('''SELECT city, country
                  FROM weather
                  WHERE season = 'Fall'
                  GROUP BY city, country
                  HAVING AVG(temperature) > 20
                  ORDER BY AVG(temperature) ASC''')
result = cur.fetchall()


for row in result:
    print(f"City: {row[0]}, Country: {row[1]}")

City: Cairo, Country: Egypt
City: Mumbai, Country: India

In [20]:
#The total annual rainfall for Cairo.

cur.execute('''SELECT SUM(rainfall)
                  FROM weather
                  WHERE city = 'Cairo' ''')
result = cur.fetchone()


print(f"Total annual rainfall for Cairo: {result[0]} millimeters")

Total annual rainfall for Cairo: 27.6 millimeters

In [21]:
#The total rainfall for each season.

cur.execute('''SELECT season, SUM(rainfall)
                  FROM weather
                  GROUP BY season''')
result = cur.fetchall()


for row in result:
    print(f"Season: {row[0]}, Total Rainfall: {row[1]} millimeters")

Season: Fall, Total Rainfall: 569.0 millimeters
Season: Spring, Total Rainfall: 192.29999999999998 millimeters
Season: Summer, Total Rainfall: 1706.5 millimeters
Season: Winter, Total Rainfall: 230.1 millimeters

# Question 09

In [8]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
result = [word.upper() for word in words]
print(result)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [9]:

result1 = [word.lower() for word in words]
print(result1)
result2 = [len(word) for word in words]
print(result2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [10]:
morewords = []
for word in words:
        morewords.append([word.upper(), word.lower(), len(word)])
print(morewords)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [11]:
bigWords = []
for word in words:
    if len(word) >= 4:
        bigWords.append(word)
        
print(bigWords)

['quick', 'brown', 'jumps', 'over', 'lazy']